<div class="custom-variant-picker">
  <h1>HELLO</h1>
    {% render 'product-variant-picker-pre-order' %}
</div>

{% schema %}
{
  "name": "Custom Variant Picker",
  "settings": [],
  "presets": [
    {
      "name": "Custom Variant Picker"
    }
  ]
}
{% endschema %}