<div class="custom-variant-picker">
    {% render 'product-variant-picker-pre-order' %}
</div>

{% schema %}
{
  "name": "Custom Variant Picker",
  "settings": [],
  "presets": [
    {
      "name": "Custom Variant Picker"
    }
  ]
}
{% endschema %}