/* -- Deflux Design -- jono@deflux.co.nz */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #10141d #607997;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #607997;
}

*::-webkit-scrollbar-thumb {
  background-color: #10141d;
  border-radius: 10px;
  border: 1px solid #304054;
  width: 10px;
}

/* Announcement Bar bk */
#shopify-section-sections--16481235370166__announcement-bar {
  background-image: url(/cdn/shop/files/sb-announcement-bar-bk-pink.svg?v=1706132697);
  background-size: cover;
  background-position: right center;
  background-attachment: unset;
}
.utility-bar {
  background: none;
}

sticky-header.header-wrapper {
  background-image: url(https://cdn.shopify.com/s/files/1/0200/7688/files/sb-header-b-3.svg?v=1706147724),
    linear-gradient(46deg, #0e151d 32%, #192533 85%);
  background-size: cover;
  background-position: right center;
  background-attachment: unset;
}

sticky-header.header-wrapper::after {
  content: "";
  width: 100%;
  height: 23px;
  background: #10151e;
  position: absolute;
  background-image: url(https://cdn.shopify.com/s/files/1/0200/7688/files/sb-hdr-subbar.svg?v=1706137277),
    url(https://cdn.shopify.com/s/files/1/0200/7688/files/sb-hdr-subbar-right.svg?v=1706137570);
  background-position: left center, right center;
  background-repeat: no-repeat;
}

/* mega menu full width */
.header.page-width {
  width: calc(100% + 40px);
  max-width: 100%;
  padding: 0 20px !important;
}

.gm-menu-installed .gm-menu.gm-submenu-align-center {
  width: calc(100% + 40px);
}

.gm-menu-installed .gm-menu .gm-grid {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-block__details-content {
  column-count: 2;
}

.slideshow__text.banner__box.content-container {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: linear-gradient(
    228deg,
    rgba(21, 209, 252, 0.8) 14%,
    rgba(23, 115, 176, 0.8) 81%
  );
}

/* Product */
.page-title-banner {
  position: sticky;
  top: 170px;
  z-index: 1;
  background: rgb(10, 60, 92);
  background: linear-gradient(
    90deg,
    rgba(10, 60, 92, 1) 0%,
    rgba(0, 21, 34, 1) 45%
  );
  width: 100%;
  padding: 2rem 4rem;
  margin: 0 0 6rem 0;
  color: #ebebeb;
  border-top: 1px solid hotpink;
  .product__title {
    max-width: 1440px;
    margin: 0 auto;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 8px;
    background: rgb(25, 164, 222);
    background: linear-gradient(
      90deg,
      rgba(25, 164, 222, 1) 0%,
      rgba(25, 164, 222, 1) 25%,
      rgba(228, 66, 152, 1) 25%,
      rgba(228, 66, 152, 1) 50%,
      rgba(203, 219, 44, 1) 50%,
      rgba(203, 219, 44, 1) 75%,
      rgba(220, 127, 38, 1) 75%,
      rgba(220, 127, 38, 1) 100%
    );
  }
}

.product__column-sticky {
  top: 265px !important;
}
