/* -- Deflux Design -- jono@deflux.co.nz */
.page-title-banner {
  position: sticky;
  top: 170px;
  z-index: 1;
  background: rgb(10, 60, 92);
  background: linear-gradient(
    90deg,
    rgba(10, 60, 92, 1) 0%,
    rgba(0, 21, 34, 1) 45%
  );
  width: 100%;
  padding: 2rem 4rem;
  margin: 0 0 6rem 0;
  color: #ebebeb;
  border-top: 1px solid hotpink;
  .product__title {
    max-width: 1440px;
    margin: 0 auto;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 8px;
    background: rgb(25, 164, 222);
    background: linear-gradient(
      90deg,
      rgba(25, 164, 222, 1) 0%,
      rgba(25, 164, 222, 1) 25%,
      rgba(228, 66, 152, 1) 25%,
      rgba(228, 66, 152, 1) 50%,
      rgba(203, 219, 44, 1) 50%,
      rgba(203, 219, 44, 1) 75%,
      rgba(220, 127, 38, 1) 75%,
      rgba(220, 127, 38, 1) 100%
    );
  }
}

.product__column-sticky {
  top: 265px !important;
}

.theme_store_id_714.gm-menu-installed .gm-level-0 > a.menu__link {
  padding: 18px 20px !important;
}

body.gm-menu-installed .header-item.header-item--navigation.gm-theme-902 > ul {
  width: 100% !important;
}

@media screen and (min-width: 990px) {
  .header:not(.drawer-menu) .page-width {
    max-width: 100vw;
  }
}
